[package]
name = "urlshortener"
version = "0.9.0"
authors = ["Victor Polevoy <maintainer@vpolevoy.com>"]

description = "A very simple url shortener client library"
readme = "README.md"
license = "MIT"
keywords = ["url", "short", "shortener", "link"]

repository = "https://github.com/vityafx/urlshortener-rs"
documentation = "https://docs.rs/urlshortener"

[badges]
travis-ci = { repository = "vityafx/urlshortener-rs" }

[dependencies]
log = "0.4"
url = "1"

[dependencies.reqwest]
version = "0.8"
optional = true

[features]
default = ["client"]
client = ["reqwest"]
